/* variables */
:root {
}
form#search {
	--border-color: #a8d2e3;
	--label-width: 127px;
	--label-gap: 1rem;
	--section-padding: 1rem;
}

/* profile selection section */
form#search .profile-chooser {
	/* clear: both; */
	border-top: 1px solid var(--border-color);
	padding: var(--section-padding);
	/* makes the section respect margins of floating history */
	display: flex;
}
/* extra space for profile display */
form#search .profile-chooser .custom-combobox-input {
	width: 250px;
}
/* bold label */
form#search .profile-chooser > div > label {
	font-weight: bold;
	/* width: var(--label-width); */
	display: inline-block;
	padding-right: var(--label-gap);
}

/* options for choosen profile (and free-search) */
form#search .free-search,
form#search .profile-options {
	border-top: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
	padding: var(--section-padding);

	display: grid;
	grid-template-columns: var(--label-width) auto;
	grid-gap: var(--label-gap);
}

/* free-search customizations */
/* make grid work in a different structure */
form#search .free-search > div {
	display: contents;
}
/* reset border */
form#search .free-search {
	border-style: none;
}
/* borders between fields */
form#search .free-search > div:last-child::after,
form#search .free-search > div::before {
	grid-column: 1/-1;
	content: " ";
	display: block;
	border-bottom: 1px solid var(--border-color);
}
/* bold labels */
form#search .free-search > div > label {
	font-weight: bold;
}

/* main buttons (submit etc) */
form#search .main-buttons {
	padding: var(--section-padding);
	margin-left: calc(var(--label-gap) + var(--label-width));
}
form#search .main-buttons .ui-button {
	margin-right: 1rem;
}

/* search results section */
.search-results {
	margin-top: 2em;
	/*border-top: 1px solid var(--border-color);*/
}
.search-results [name="draw6"] {
	margin-top: 1.5em;
	padding: .5em 3em;
}

/* style change upon draw6 */
table .hidden-rows {
	counter-reset: hiddenrows;
}
table .hidden-rows td:first-child sup {
	color: #777;
}
table .hidden-rows td:first-child:before {
	counter-increment: hiddenrows;
	content: counter(hiddenrows);
	display: inline-block;
	padding-right: .2em;
}
