/* variables */
:root {
}
form#search {
	--border-color: #a8d2e3;
	--label-width: 127px;
	--label-gap: 1rem;
	--section-padding: 1rem;
}

/* profile selection section */
form#search .profile-chooser {
	clear: both;
	border-top: 1px solid var(--border-color);
	padding: var(--section-padding);
}

/* options for choosen profile */
form#search .profile-options {
	border-top: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
	padding: var(--section-padding);

	display: grid;
	grid-template-columns: var(--label-width) auto;
	grid-gap: var(--label-gap);
}
/* main buttons (submit etc) */
form#search .main-buttons {
	padding: var(--section-padding);
	margin-left: calc(var(--label-gap) + var(--label-width));
}
form#search .main-buttons .ui-button {
	margin-right: 1rem;
}

/* search results section */
.search-results {
	margin-top: 2em;
	/*border-top: 1px solid var(--border-color);*/
}
.search-results [name="draw6"] {
	margin-top: 1.5em;
	padding: .5em 3em;
}

/* style change upon draw6 */
table .hidden-rows {
	counter-reset: hiddenrows;
}
table .hidden-rows td:first-child sup {
	color: #777;
}
table .hidden-rows td:first-child:before {
	counter-increment: hiddenrows;
	content: counter(hiddenrows);
	display: inline-block;
	padding-right: .2em;
}
